# Data Science Tools and Ecosystems

## Author

Kidus Ayalew

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Languages used in data science.
- Libraries used in data science.
- Tools used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. PyTorch
3. Pandas
4. scikit-learn
5. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|R Studio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335